{% extends "base.html" %}
{% block content %}

<h3 class="center-align courgette-font">Add Book</h3>
<!-- form -->
<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_book') }}">
        <!-- book title -->
        <div class="row">
            <div class="input-field col s12">
                <input id="title" name="title" minlength="1" type="text" class="validate" required>
                <label for="title">Title</label>
            </div>
        </div>
        <!-- author -->
        <div class="row">
            <div class="input-field col s12">
                <input id="author" name="author" minlength="1" type="text" class="validate" required>
                <label for="author">Author</label>
            </div>
        </div>
        <!-- year of publication -->
        <div class="row">
            <div class="input-field col s12">
                <input id="year_of_publication" pattern="[0-2][0-9][0-9][0-9]" name="year_of_publication" type="text" title="Enter a four digits starting with 0, 1 or 2" class="validate" required>
                <label for="year_of_publication">Year of Publication</label>
            </div>
        </div>
        <!-- synopsis -->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="synopsis" name="synopsis" minlength="200" maxlength="2000" class="materialize-textarea validate" required></textarea>
                <label for="synopsis">Synopsis</label>
            </div>
        </div>
        <!-- genre -->
        <div class="row">
            <div class="input-field col s12">
                <select id="genre" name="genre">
                    <option value="Fantasy">Fantasy</option>
                    <option value="Science Fiction">Science Fiction</option>
                    <option value="Biography">Biography</option>
                    <option value="Mystery">Mystery</option>
                    <option value="Essays">Essays</option>
                    <option value="Other">Other</option>
                </select>
                <label for="genre">Genre</label>
            </div>
        </div>
        <!-- link to cover -->
        <div class="row">
            <div class="input-field col s12">
                <input id="cover" name="cover" type="text" class="validate" pattern="https?://.+" title="link needs to start with http:// or https://" required>
                <label for="cover">Link to cover</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large brown darken-1"> Add book <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}