{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add review for {{ book.title }} by {{ book.author }}</h3>

<!-- form -->
<div class="row card-panel grey lighten-5">
  <form class="col s12" method="POST" action="{{ url_for('add_review', book_id=book.id) }}">
    <!-- book title -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fa-solid fa-circle-exclamation prefix brown-text text-darken-4"></i>
        <input id="title" name="title" minlength="5" maxlength="50" type="text" class="validate" required>
        <label for="title">Title</label>
      </div>
    </div>
    <!-- review body -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fa-solid fa-comment-dots prefix brown-text text-darken-4"></i>
        <textarea id="review_text" name="review_text" minlength="100" type="text" class="materialize-textarea validate" required></textarea>
        <label for="review_text">Your rview:</label>
      </div>
    </div>
    <!-- score -->
    <div class="row"></div>
    <div class="input-field col s12">
      <select class="icons" id="review_score" name="review_score">
        <option value="" disabled selected>Give a score</option>
        <option value="5" data-icon=""></option>
        <option value="4" data-icon=""></option>
        <option value="3" data-icon=""></option>
        <option value="2" data-icon=""></option>
        <option value="1" data-icon=""></option>
        <option value="0" data-icon=""></option>
      </select>
      <label for="review_score"></label>
    </div>
</div>
<!-- submit button -->
<div class="row">
  <div class="col s12 center-align">
    <button type="submit" class="btn-large brown darken-4"> Add review <i class="fas fa-plus-square right"></i>
    </button>
  </div>
</div>
</form>
</div>
  
{% endblock %}