{% extends "base.html" %}
{% block content %}

<h3>{{ book.title }}</h3>

<div class="grey lighten-2">
    <div class="row">
        <div class="col s12 m4">
            <img class="cover-on-book-site" src="{{ book.cover }}">
        </div>
        <div class="col s12 m3">
            <p>Author: {{ book.author }}</p>
            <p>Year of publication: {{ book.year_of_publication }}</p>
            <p>Genre: {{ book.genre }} </p>
            <p>Pozitive reviews: {{ book.score }}</p>
        </div>
        <div class="col s12 m5">
            <p>{{ book.synopsis }}</p>
        </div>
    </div>
</div>
<hr>
<div class="container center-align">
    <a href="{{ url_for('add_review', book_id=book.id) }}" class="waves-effect waves-light brown darken-4 white-text btn">Add review<i class="fa-sharp fa-solid fa-comment-plus"></i></a>
</div>
<hr>
<!-- rewiews -->
{% for review in reviews %}
    {% if review.book_id == book.id %}
    <div class="grey lighten-2">
        <div class="row">
            <div class="col s12">
                <p>{{ review.review_title }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <p>{{ review.review_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col left-align s6">
                {% if session.user|lower == review.username|lower %}
                <a href="{{ url_for('edit_review', book_id=book.id, review_id=review.id) }}"><i class="fa-solid fa-pen-to-square  brown-text text-darken-4"></i></a>
                <a href="{{ url_for('delete_review', book_id=book.id, review_id=review.id) }}"><i class="fa-solid fa-trash brown-text text-darken-4"></i></a>
                {% endif %}
            </div>
            <div class="col right-align s6 score-text">
                    {% if review.review_score == 1 %}
                        <i class="brown-text text-darken-4 fa-solid fa-thumbs-up"></i>
                    {% else %}
                        <i class="brown-text text-darken-4 fa-solid fa-thumbs-down"></i>
                    {% endif %}
            </div>        
        </div>
    </div>
    {% endif %}
{% endfor %}

{% endblock %}