{% extends "base.html" %}
{% block content %}

<!--page description-->
<div class="container margins">
    <span> Page and purpose descriprion "Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
    officia deserunt mollit anim id est laborum."
    </span>
</div>

<!--sorting and -->
<div class="row margins">
    <div class="container">   
        <a class="waves-effect black-text brown lighten-5 btn col s12 m4 l4">Sort by score</a>
        <a class="waves-effect black-text brown lighten-5 btn col s12 m4 l4">Sort by Ganre</a>
        <a href="{{ url_for('add_book') }}" class="waves-effect black-text brown lighten-5 btn col s12 m4 l4">Add a book</a>
    </div>
</div>


<!-- books -->
<div class="row">
    {% for book in books %}
    <div class="card col s12 m6 l3">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ book.cover }}">
            <div>
                <a class="btn-floating waves-effect waves-light white" href="{{ url_for('delete_book', book_id=book.id) }}"><i class="fa-solid fa-trash brown-text text-darken-4"></i></a>
                <a class="btn-floating waves-effect waves-light white" href="{{ url_for('edit_book', book_id=book.id) }}"><i class="fa-solid fa-pen-to-square brown-text text-darken-4"></i></a>
                <h5>Pozitive rieviews: {{ book.score }}</h5>
            </div>
        </div>
        <div class="card-content">
            <h5><a href="{{ url_for('book', book_id=book.id) }}">{{ book.title }}</a></h5>
            <span class="card-title activator grey-text text-darken-4">{{ book.author }}</span>
            
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ book.title }}<i class="material-icons right">close</i></span>
            <p>{{ book.synopsis }}</p>
        </div>
    </div>
    {% endfor %}
</div>
            
{% endblock %}