{% extends "base.html" %}
{% block content %}

<!--page description-->
<div class="text-block centered-elemet container">
    <h4>Welcome to Bookspire</h4>
    <span>
        If you love reading books and sharing that joy with others, this is a place for you.<br>
        Add and review books.<br>
        Look for inspiration. <br>
        Get your library growing.
    </span>
</div>
<!--sorting and -->
<div class="row margins">
    <div class="container">
        <a href="{{ url_for('sorted') }}" class="waves-effect white-text brown darken-2 btn col s12 m5 l5">Sort by score</a>
        <div class="col s12 m2 l2"></div> 
        {% if session.user %} 
        <a href="{{ url_for('add_book') }}" class="waves-effect white-text brown darken-2 btn col s12 m5 l5">Add a book</a> 
        {% endif %}
    </div>
</div>
<!-- books -->
<div class="row"> 
    {% for book in books %} 
    <div class="card col s12 m6 l3 padded-grid">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator cover" alt="book cover " src="{{ book.cover }}">
        </div>
        <!-- delete and edit button --> 
        {% if session.user|lower == book.username|lower %} 
        <div class="centered-icons">
            <a href="{{ url_for('edit_book', book_id=book.id) }}">
                <i class="fa-solid fa-pen-to-square brown-text text-darken-4"></i>
            </a>
            <a href="{{ url_for('delete_book', book_id=book.id) }}">
                <i class="fa-solid fa-trash brown-text text-darken-4"></i>
            </a>
        </div> 
        {% else %}
        <!-- line to even out card height when buttons not showing -->
        <div class="centered-icons">
            <br>
        </div> 
        {% endif %} 
        <div class="centered-elemet card-content-padding">
            <h5 class="brown-text text-darken-4">
                <a href="{{ url_for('book', book_id=book.id) }}">{{ book.title }}</a>
            </h5>
            <span class="card-title brown-text text-darken-4">{{ book.author }}</span>
        </div>
        <div>
            <p class="centered-elemet">Genre: {{ book.genre }}</p>
            <p class="centered-elemet">Positive rieviews: {{ book.score }}</p>
        </div>
    </div> 
    {% endfor %} 
</div>
            
{% endblock %}