body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a {
    color: #3e2723 ;
}

/* book cover images */

.cover { 
    height: 55vh !important;
    object-fit: fit;
}

#hero-image{
    height:300px;
    width: 100%;
    object-fit: cover;
}

.margins {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* navigation bar */

#logo {
    height: 70px;
}

#navigation-bar {
    height: 80px;
    padding: 10px;
    background-color: #8d6e63 !important;
}

/* introduction text */

.text-block {
    text-align: justify;
}

.padded-grid {
    padding: 10px !important;
}

/* book card container */

.centered-icons {
    text-align: center;
    margin: 7px;
}

.card-content-padding {
    padding: 5px !important;
}

.centered-elemet {
    text-align: center;
}