body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a {
    color: #3e2723;
}

.courgette-font {
    font-family: 'Courgette', cursive;
}

.ms-madi-font {
    font-family: 'Ms Madi', cursive;
}

/* book cover images */

.cover {
    height: 55vh !important;
    object-fit: fill;
}

/* hero image on base page */
#hero-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

/* navigation bar */

#logo {
    height: 70px;
}

#navigation-bar {
    height: 80px;
    padding: 10px;
    background-color: #8d6e63 !important;
}

/* introduction text */

.text-block {
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* book card */

.padded-grid {
    padding: 10px !important;
}

.centered-icons {
    text-align: center;
    margin-top: 12px;
    font-size: 20px;
}

.card-content-padding {
    padding: 5px !important;
}

.centered-elemet {
    text-align: center;
}

/* cover on book site */

.cover-on-book-site {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 7px;
}
